Repository opentelekomcloud-infra/octavia-proxy, pull requests merged in 2021-09, with the labels that each got.

#55 L7policy controller
  octavia_proxy/api/drivers/elbv2/driver.py
  octavia_proxy/api/v2/controllers/__init__.py
  octavia_proxy/api/v2/controllers/base.py
  octavia_proxy/api/v2/controllers/l7policy.py
  octavia_proxy/api/v2/types/l7policy.py
  octavia_proxy/common/constants.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_driver.py
Labels: gate

#56 elbv3 l7policy driver
  octavia_proxy/api/drivers/elbv3/driver.py
  octavia_proxy/common/constants.py
  octavia_proxy/tests/unit/api/drivers/elbv3/test_driver.py
Labels: gate, ELBv3

#58 elbv3 cascade delete
  octavia_proxy/api/drivers/elbv3/driver.py
  octavia_proxy/common/utils.py
  octavia_proxy/tests/unit/api/drivers/common.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_driver.py
  octavia_proxy/tests/unit/api/drivers/elbv3/test_driver.py
Labels: gate, ELBv3

#60 Fix provider finding
  octavia_proxy/api/drivers/elbv2/driver.py
  octavia_proxy/api/v2/controllers/health_monitor.py
  octavia_proxy/api/v2/controllers/member.py
Labels: gate, controller

#61 l7 rule for elbv3
  octavia_proxy/api/drivers/elbv3/driver.py
  octavia_proxy/tests/unit/api/drivers/elbv3/test_driver.py
Labels: gate, ELBv3

#65 fix lb creation after removing octavia dependencies
  octavia_proxy/api/drivers/elbv2/driver.py
  octavia_proxy/api/v2/controllers/load_balancer.py
  octavia_proxy/common/utils.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_driver.py
  octavia_proxy/tests/unit/api/drivers/elbv3/test_driver.py
Labels: bug, gate

#36 functional tests + further fixes
  .gitignore
  .stestr.blacklist.functional
  octavia_proxy/api/drivers/elbv2/driver.py
  octavia_proxy/api/drivers/utils.py
  octavia_proxy/api/v2/controllers/load_balancer.py
  octavia_proxy/api/v2/controllers/pool.py
  octavia_proxy/common/config.py
  octavia_proxy/tests/functional/api/v2/base.py
  octavia_proxy/tests/functional/api/v2/test_health_monitor.py
  octavia_proxy/tests/functional/api/v2/test_l7policy.py
  octavia_proxy/tests/functional/api/v2/test_l7rule.py
  octavia_proxy/tests/functional/api/v2/test_listener.py
  octavia_proxy/tests/functional/api/v2/test_load_balancer.py
  octavia_proxy/tests/functional/api/v2/test_member.py
  octavia_proxy/tests/functional/api/v2/test_pool.py
  octavia_proxy/tests/functional/base.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_driver.py
  test-requirements.txt
  tox.ini
Labels: gate

#67 add api-ref job template
  .zuul.yaml
Labels: gate

#68 set project_id from token in octavia context
  octavia_proxy/common/context.py
  octavia_proxy/tests/functional/api/v2/test_load_balancer.py
Labels: gate

#64 Driver invocation
  etc/octavia_proxy.conf
  octavia_proxy/api/common/invocation.py
  octavia_proxy/api/drivers/elbv2/driver.py
  octavia_proxy/api/drivers/elbv3/driver.py
  octavia_proxy/api/drivers/utils.py
  octavia_proxy/api/v2/controllers/base.py
  octavia_proxy/api/v2/controllers/health_monitor.py
  octavia_proxy/api/v2/controllers/l7policy.py
  octavia_proxy/api/v2/controllers/l7rule.py
  octavia_proxy/api/v2/controllers/listener.py
  octavia_proxy/api/v2/controllers/load_balancer.py
  octavia_proxy/api/v2/controllers/member.py
  octavia_proxy/api/v2/controllers/pool.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_driver.py
  octavia_proxy/tests/unit/api/drivers/elbv3/test_driver.py
  octavia_proxy/tests/unit/api/drivers/test_utils.py
Labels: enhancement, gate, ELBv2, ELBv3, complex

#71 tags support
  octavia_proxy/api/drivers/elbv2/driver.py
  octavia_proxy/api/drivers/elbv3/driver.py
  octavia_proxy/api/v2/types/listener.py
  octavia_proxy/tests/unit/api/drivers/elbv3/test_driver.py
Labels: gate, ELBv2, ELBv3
