Repository opentelekomcloud-infra/octavia-proxy, pull requests merged in 2021-08, with the labels that each got.

#38 elbv3 types
  octavia_proxy/api/drivers/elbv3/driver.py
  octavia_proxy/api/v3/__init__.py
  octavia_proxy/api/v3/controllers/__init__.py
  octavia_proxy/api/v3/types/__init__.py
  octavia_proxy/api/v3/types/health_monitor.py
  octavia_proxy/api/v3/types/l7policy.py
  octavia_proxy/api/v3/types/l7rule.py
  octavia_proxy/api/v3/types/listener.py
  octavia_proxy/api/v3/types/load_balancer.py
  octavia_proxy/api/v3/types/member.py
  octavia_proxy/api/v3/types/pool.py
  octavia_proxy/common/constants.py
Labels: ELBv3, gate

#39 Add unit tests for ELBv2 driver
  octavia_proxy/api/drivers/elbv2/driver.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_driver.py
Labels: gate

#42 elb v3 driver lb and, flavors
  octavia_proxy/api/drivers/elbv2/driver.py
  octavia_proxy/api/drivers/elbv3/driver.py
  octavia_proxy/api/v2/controllers/flavors.py
  octavia_proxy/api/v2/controllers/load_balancer.py
  octavia_proxy/api/v2/types/flavors.py
  octavia_proxy/api/v3/__init__.py
  octavia_proxy/api/v3/controllers/__init__.py
  octavia_proxy/api/v3/types/__init__.py
  octavia_proxy/api/v3/types/health_monitor.py
  octavia_proxy/api/v3/types/l7policy.py
  octavia_proxy/api/v3/types/l7rule.py
  octavia_proxy/api/v3/types/listener.py
  octavia_proxy/api/v3/types/load_balancer.py
  octavia_proxy/api/v3/types/member.py
  octavia_proxy/api/v3/types/pool.py
  octavia_proxy/policies/flavor.py
  octavia_proxy/tests/unit/api/drivers/elbv3/test_driver.py
Labels: gate, ELBv3

#43 Elb v3 listener
  octavia_proxy/api/drivers/elbv3/driver.py
  octavia_proxy/tests/unit/api/drivers/elbv3/test_driver.py
Labels: gate, ELBv3

#45 Add driver v2 for health monitors
  octavia_proxy/api/drivers/elbv2/driver.py
  octavia_proxy/api/v2/types/health_monitor.py
  octavia_proxy/tests/__init__.py
  octavia_proxy/tests/unit/api/drivers/elbv2/fixtures.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_driver.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_health_monitors.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_loadbalancers.py
Labels: gate

#46 Elb v3 pool
  octavia_proxy/api/drivers/elbv3/driver.py
  octavia_proxy/api/v2/controllers/base.py
  octavia_proxy/api/v2/controllers/pool.py
  octavia_proxy/api/v2/types/pool.py
  octavia_proxy/common/exceptions.py
  octavia_proxy/common/validate.py
  octavia_proxy/tests/unit/api/drivers/elbv3/test_driver.py
Labels: gate, ELBv3

#49 fix now broken octavia_lib dep
  requirements.txt
Labels: gate

#37 Pool driver and controller elbv2
  octavia_proxy/api/drivers/elbv2/driver.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_driver.py
Labels: gate, ELBv2

#48 member v3
  octavia_proxy/api/drivers/elbv3/driver.py
  octavia_proxy/api/v2/controllers/base.py
  octavia_proxy/api/v2/controllers/load_balancer.py
  octavia_proxy/api/v2/controllers/member.py
  octavia_proxy/api/v2/controllers/pool.py
  octavia_proxy/api/v2/types/member.py
  octavia_proxy/policies/member.py
  octavia_proxy/tests/unit/api/drivers/elbv3/test_driver.py
Labels: gate, ELBv3

#50 Member for elbv2
  octavia_proxy/api/drivers/elbv2/driver.py
  octavia_proxy/common/constants.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_driver.py
  octavia_proxy/tests/unit/api/drivers/elbv3/test_driver.py
Labels: gate

#47 add compatibility matrix
  doc/requirements.txt
  doc/source/conf.py
  doc/source/user/feature-classification/feature-matrix-healthmonitor.ini
  doc/source/user/feature-classification/feature-matrix-l7policy.ini
  doc/source/user/feature-classification/feature-matrix-l7rule.ini
  doc/source/user/feature-classification/feature-matrix-lb.ini
  doc/source/user/feature-classification/feature-matrix-listener.ini
  doc/source/user/feature-classification/feature-matrix-member.ini
  doc/source/user/feature-classification/feature-matrix-pool.ini
  doc/source/user/feature-classification/index.rst
  doc/source/user/index.rst
Labels: gate

#51 health monitor v3
  octavia_proxy/api/common/types.py
  octavia_proxy/api/drivers/elbv3/driver.py
  octavia_proxy/api/v2/controllers/__init__.py
  octavia_proxy/api/v2/controllers/base.py
  octavia_proxy/api/v2/controllers/health_monitor.py
  octavia_proxy/api/v2/types/health_monitor.py
  octavia_proxy/tests/unit/api/drivers/elbv3/test_driver.py
Labels: gate, ELBv3, controller

#52 L7 policy elbv2 driver
  octavia_proxy/api/drivers/elbv2/driver.py
  octavia_proxy/api/v2/types/l7policy.py
  octavia_proxy/tests/unit/api/drivers/elbv2/fixtures.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_driver.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_health_monitors.py
  octavia_proxy/tests/unit/api/drivers/elbv2/test_loadbalancers.py
Labels: gate

#54 elb additional validations and mapping
  etc/octavia_proxy.conf
  octavia_proxy/api/drivers/elbv3/driver.py
  octavia_proxy/api/v2/controllers/load_balancer.py
  octavia_proxy/common/config.py
  octavia_proxy/common/utils.py
  octavia_proxy/common/validate.py
Labels: gate
